body {
    background-color: #FDFEFE;
    font-family: Arial, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: #FFFFFF;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 12px 30px;
}
.navbar .logo img {
    width: 55px;
    margin-right: 50px;
}
.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}
.navbar nav ul li a {
    text-decoration: none;
    color: #AC212C;
    font-weight: bold;
    transition: 0.3s;
}
.hero {
    position: relative;
    display: flex;
    justify-content: center;
}
.background {
    width: 100%;
    max-width: 1000px;
}
.hero-btn {
    position: absolute;
    top: 76%;
    left: 17%;
    transform: translate(-50%, -50%);
    background-color: #AC212C;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.card-section {
    padding: 40px 0;
    text-align: center;
}

.card-title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 8px;
}

.card-desc {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 280px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: left;
    padding-bottom: 20px;
    transition: 0.2s;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card h3 {
    font-size: 20px;
    margin: 15px;
}

.card p {
    font-size: 14px;
    color: #555;
    margin: 0 15px 15px;
}

.price {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 0 15px 15px;
}

.order-btn {
    display: block;
    width: fit-content;
    background: #b30000;
    color: #fff;
    padding: 10px 18px;
    border-radius: 6px;
    margin-left: 15px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
}

.order-btn:hover {
    background: #8c0000;
}

.card:hover {
    transform: translateY(-4px);
}

.footer {
    background-color: #F1F1F1;
    padding: 40px 50px 0;
    color: #000;
    font-family: Arial, sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.footer-column h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-column a {
    display: block;
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-bottom {
    background-color: #6C0007;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}

.footer-bottom p {
    margin-bottom: 10px;
    font-weight: bold;
}

.social-icons i {
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
}